.redShape {
    color: red;
    background-color: red;
}

.blueShape {
    color: blue;
    background-color: blue;
}

.yellowShape {
    color: yellow;
    background-color: yellow;
}

table, th, td {
    border: 1px solid black;
}

td {
    padding: 15px;
}

body {
    background: #FFCCCC;
}